body
{
    width:100%;
    min-width: 1173px;
}
.legend
{
    position: absolute;
    bottom: 10%;
    left: 5%;
}
.days
{
    margin-left: 7px;
    width: 9.4%;
}
.day
{
    width:76%;
}
.taskss
{
    width:90%; 
    clear: both;
    white-space: normal;
   /* overflow-wrap: normal;*/
}
.type1
{
  /*  margin-top: 7px;
  /*  background-color: #468847;*/
}

.type2
{
  /*  margin-top: 7px;
  /*  background-color: #999999;*/
}

.type3
{
   /* margin-top: 7px;
   /* background-color: #3a87ad;*/
}
