<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Documentation</h3>
  </div>
  <div class="modal-body">
    <p>Study the documentation for projects that my team worked</p>
    <h4>Number of hours : 5</h4>
  </div>
