<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">GIT COMMANDS</h3>
  </div>
  <div class="modal-body">
    <p>I receved documents for learning git commands and "cygwin" </p>
    <h4>Number of hours : 5</h4>
  </div>
