<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Request Developer access rights & accounts</h3>
  </div>
  <div class="modal-body">
  
    <p>Create a GDC Exploitation request in order to allow access to the meetic environment:</p>
    <p>Example:</p>
    <pre>
    Hello,

    We need access rights and accounts for our new team member on the following resources:
 
    GIT DevNG ssh://[username]@git.dating.dev/mcorp/data/git/dating.git
    DevNG http://[username].[meetic_domain].dev
    Samba DevNG \\share.dating.dev\
    Dev http://[meetic_domain].dev
    Recette http://[meetic_domain].recette
    Preprod http://[meetic_domain].preprod
    SVN Dating svn://webmeeticdev.ilius.fr/meetic/trunk
    OBO Dating http://obo.meetic.com.[dev|preprod|recette]
    DEV Oracle Dating orameeticdev.ilius.fr

    Team member : Pavel MOCEAN
    Email : pmocean@pentalog.fr
    Team : MR1

    Thank you,
    Tudor Hornai
    </pre>
    
    
    <p>Create a IT Crew request in order to allow access to JIRA</p>
    <p>Don't forget to request Etudes et Dev access</p>
    <p>Example:</p>
    <pre>
    Hello,

    Please configure and allow JIRA4 access for our new team member and add him to the Etudes et Dev project.
    
    name: Pavel MOCEAN
    email: pmocean@pentalog.fr
    Team MR1

    Thanks,
    Tudor HORNAI, SM MR1
    </pre>
    
    



  </div>
