<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Meetic discovery</h3>
  </div>
  <div class="modal-body">
    <p>One on one with team manager to explain the key parts prom meetic website and where are the important components</p>

  
    



  </div>
