<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">questions about meetic</h3>
  </div>
  <div class="modal-body">
    <p>Stand-up from 10 to 10:30</p>
    <p>In the first day i receved some questions about meetic.</p>
    <p>I Studied the basic functionalities of the site, things that you can do and things that you cannot do without payment,  differences between meetic and affinity etc.</p>
    <p>I created an account for meetic.com and matchaffinity.com with the user "PMOCEAN"</p>
    <h4>Questions</h4>
    <pre>
1.      How to sign up?

2.      How to login?

3.      How do I get back my login information?

4.      What is the difference between Meetic and Meetic Affinity?

5.      Can I have an account on both of them?

6.      How do I change my profile information?

7.      How do I upload my photos?

8.      How many photos can I upload?

9.      What is the difference between my album and my portrait photo?

10.  My photos are not published in the right category, why?

11.  How to record a presentation?

12.  Why my presentation is not visible to other members?

13.  How do I remove my presentation?

14.  How to publish a quizz on my profile?

15.  How to publish my cultural interests on my profile (film, music, fav authors) ?

16.  How to indicate that I speak English?

17.  What is the difference between these “My Account” and “My profile”?

18.  What if I change my email address and my password?

19.  Can I change my username?

20.  What if accidentally sign up as the wrong sex?

21.  How can I suspend or delete my profile? What is the difference between these actions?

22.  What is the Daily 6 and how to use it?

23.  What are the search options available?

24.  How to create and save a personal search?

25.  How to filter online members?

26.  How to remove some profiles of my search results?

27.  When I visit the profile of a member, what information I can not see?

28.  How do I reply to a message?

29.  How can I send a message to another member?

30.  Except the messages, what are the other ways to communicate on the site?

31.  I received a warning and I can not find a message in my messages, what's going on?

32.  What is the anti-spam?

33.  How do I activate my away manager?

34.  I receive to many message from members who do not fit me, how to limit them?

35.  I want all members to contact me, even those without a subscription, how?

36.  How can I chat with a member?

37.  How to add a member to my favorites list?

38.  How to remove a member from this list?

39.  How do I know if someone added me in his favorites list?

40.  How to dissapear from someone's favorites list?

41.  I added someone to my favorites list and I can not find anymore, why?

42.  Where are my lists of visitors and flashes?

43.  How to view members who had flash on me?

44.  What is the difference between a web warning and an email warning?

45.  How do I enable/disable my emails and web alerts?

46.  What is the blacklist and how to use it?

47.  How to find my blacklisted members?

48.  What are the different subscriptions packages?

49.  What can be done with and without a subscription?

50.  I do not want to pay, can I communicate with other members?
    </pre>
    <p>At the end of the program i answered to all questions. </p>
    <h4>Number of hours: 7</h4>
  </div>
