<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">New Timeline continue...</h3>
  </div>
  <div class="modal-body">
    <p>Create the days in config and enter the data.</p>
    <p>Ajust Download module for the new timeline.</p>
    <h4>Number of hours : 3</h4>
  </div>
