<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">New Timeline</h3>
  </div>
  <div class="modal-body">
    <p>Creating a new timeline with what i worked in every day.</p>
    <p>Create a new config and make the ajustmens in the controller.</p>
    <h4>Number of hours : 2</h4>
  </div>
