<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Add new team member to VPN tunnel</h3>
  </div>
  <div class="modal-body">
  
    <p>Create a SDI request in order to add new member to the Meetic VPN tunnel:</p>
    <p>Pentalog intranet -> SDI </p>
    <p>Category : _Soutien aux projets_ > Affectation des personnes sur les projets </p>
    <p>Example:</p>
    <pre>
        Hello, 

        Please add our new team member to the VPN tunnel user for the project Meetic - Ilius 

        member : Pavel Mocean 
        email : pmocean@pentalog.fr 
        team MR1 

        Thanks, 
        Tudor


    </pre>

  </div>
