<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Add new team member to email groups</h3>
  </div>
  <div class="modal-body">
  
    <p>Create a SDI request in order to add new member to project email groups:</p>
    <p>Pentalog intranet -> SDI </p>
    <p>Category : Ressources > Zimbra-WebMail </p>
    <p>Example:</p>
    <pre>
        Please add our new team member Pavel Mocean , email pmocean@pentalog.fr 
        to the following project email groups: 

        projet-meeticilius@pentalog.fr 
        projet-meeticilius-T1@pentalog.fr 

        Team : MR1 
        Project : Meetic Ilius 

        Thank you

    </pre>

  </div>
