<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">pentalog test and games</h3>
  </div>
  <div class="modal-body">
    <p>Pentalog test ang games</p>
    <h4>Number of hours : 2.5</h4>
  </div>
