<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">refactory for photo display</h3>
  </div>
  <div class="modal-body">
    <p>Adapt code to display approved photos and unapproved photos</p>
    <p>Create an array for each type (public and albums) and select maximum 3 photos</p>
    <p>Rewrite yats code and create images class</p>
    <h4>Number of hours : 7.5</h4>
  </div>
