<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Workshop Release process & tools</h3>
  </div>
  <div class="modal-body">
  
    <p>Release process:</p>
   
    <pre>
   process
    </pre>
    
    
    <p>Project specific tools:</p>
    <pre>
   tools
    </pre>
    
    



  </div>
