<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">stand up</h3>
  </div>
  <div class="modal-body">
    <p>talk about what i did in the first day on project</p>
    <h4>Number of hours : 1</h4>
  </div>
