<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">stand up</h3>
  </div>
  <div class="modal-body">
    <p>We had a stand-up meeting and my team manager annouced me that i'll begein work on meetic project</p>
    <h4>Number of hours : 1</h4>
  </div>
