<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Study Meetic technic documentation</h3>
  </div>
  <div class="modal-body">
    <p> <a href="https://wiki.pentalog.fr/kim3auLMn8iZrWjr/index.php/Documents_techniques" target="_blank">MEETIC WIKI Technic documentation url</a>
    <p>Technic documentation should contain the floowing</p>
  
    <pre>
    Study should cover :
	-yats
        -Publio
        -SSH
        -SCpublic
        -Photo uploader
        -OBO
        
    </pre>
  
    



  </div>
