<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Stand-up</h3>
  </div>
  <div class="modal-body">
    <p>A user story to display 6 pictures of user in emails page</p>
    <h4>Number of hours : 0.5</h4>
  </div>
