<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">website and git</h3>
  </div>
  <div class="modal-body">
    <p>study website stucture and git functions and best practices</p>
    <h4>Number of hours : 7.5</h4>
  </div>
