<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Ilius Wiki access request</h3>
  </div>
  <div class="modal-body">
  
    <p>Create a SDI request in order to allow access to the Ilius WIKI platform:</p>
    <p>Pentalog intranet -> SDI </p>
    <p>Category : Système d'information > WKI - Wikis </p>
    <p>Example:</p>
    <pre>
        Hello, 

        Please allow access to the wiki site WIKI PROJET ILIUS 
        http://wiki.pentalog.fr/kim3auLMn8iZrWjr/index.php/Accueil 
        for the following user : 
        Pavel MOCEAN , email: pmocean@pentalog.fr 

        Meetic project, Cluj 

        Thank you
    </pre>

  </div>
