{# extends the layout from view folder's root #}
{% extends 'mr1Mr1Bundle::layout.html.twig' %}

{% block title %}Test{% endblock%}

{% block body %}
    <header>
        <h1>Hello {{ name }}!</h1>
    </header>
{% endblock %}

