<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Analize next sprint specs</h3>
  </div>
  <div class="modal-body">
    <article>
        <p>Analize next sprint specs</p>
    </article>
  </div>
