<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Daily Report</h3>
  </div>
  <div class="modal-body">
    <article>
        <p>After the daily stand up meeting a followup email must be send <strong> before 11:00 a.m.</strong> (GMT+02:00)</p>

        <p>USE ATTACHED TEMPLATE </p>
        
        <p>This email will be <strong>send to</strong>: </p>
        <ul>
            <li>All product owners whose projects are in development by team (to)</li>
            <li>Research and development Director & Deputy, Delivery manager, Head of project management and to the team (cc)</li>
        </ul>
        <ul>
            <li><strong>To: </strong> <a href="mailto:product_owner1@meetic-corp.com">product_owner1@meetic-corp.com</a>, <a href="mailto:product_owner2@meetic-corp.com">product_owner2@meetic-corp.com</a></li>
            <li><strong>CC: </strong> <a href="mailto:f.chazot@meetic-corp.com">f.chazot@meetic-corp.com</a>, 
            <a href="mailto:e.dupre@meetic-corp.com">e.dupre@meetic-corp.com</a>,
            <a href="mailto:n.kalmanovitz@meetic-corp.com">n.kalmanovitz@meetic-corp.com</a>, 
            <a href="mailto:m.laurent@meetic-corp.com">m.laurent@meetic-corp.com</a>, 
            <a href="mailto:projet-meeticilius-TX@pentalog.fr@meetic-corp.com">projet-meeticilius-TX@pentalog.fr</a> 
            </li>
        </ul>
        
        <p>Email <strong>subject</strong> should contain <i>Team</i> name, <i>date</i> that the report refers to and <i>sprint</i> number</p>
        <ul>
                <li>example : <i>[MRx Daily Report] dd/mm/yyyy - Sprint xx</i></li>
        </ul>
        
        <p>The body is made of 2 parts:</p>
            <ul>
                <li>The <strong>members tasks status</strong>, which is a table divided in 4 columns:
                    <ul>
                        <li>Member name, function and email. All team members must be included ( developers, integrators, testers and scrum master )</li>
                        <li>Tasks on which the member worked or completed in the previous day ( <a href="http://jira4.ilius.fr:8080/"> JIRA </a> or other relevant links are much appreciated ) </li>
                        <li>Tasks on which the member will work on today</li>
                        <li>Comments or problems that prevent the member from completing a task</li>
                    </ul>
                </li>
                <li>The current <a href="http://jira4.ilius.fr:8080/secure/ChartBoard.jspa"><strong>Hour Burn Chart</strong></a> for the ongoing sprint.</li>
            </ul>
         
    </article>
    <h4>Example:</h4>
    <p>Hello,<br />
       Please find today's daily scrum report below:
    </p>
        <table class="table table-bordered table-daily-report">
        <thead>
           <tr class="table-row-head">
               <th> Week day - DD/MM/YYYY </th>
               <th>Yesterday</th>
               <th>Today</th>
               <th>Problems/ Comments</th>
           </tr>
        </thead>
        <tbody>
            <tr class="info">
                <td class="first">
                   <p><strong>DevName</strong> - Developer</p>
                   <a href="mailto:email@pentalog.fr">email@pentalog.fr</a> 
                </td>
                <td>
                    <ul class="unstyle">
                        <li>task completed yesterday</li>
                        <li>task completed yesterday</li>
                        <li><a href="#">task completed yesterday</a></li>
                    </ul>
                </td>
                <td>
                    <ul class="unstyle">
                        <li>task for today</li>
                        <li><a href="#">task for today</a></li>
                        <li><a href="#">task for today</a></li>
                    </ul>
                </td>
                <td>
                    <ul class="unstyle">
                        <li>Dev Environment is down</li>
                    </ul>    
                </td>
            </tr>
            <tr class="info">
                <td class="first">
                   <p><strong>DevName</strong> - Developer</p>
                   <a href="mailto:email@pentalog.fr">email@pentalog.fr</a>  
                </td>
                <td>
                    <ul class="unstyle">
                        <li>task completed yesterday</li>
                        <li>task completed yesterday</li>
                        <li><a href="#">task completed yesterday</a></li>
                    </ul>
                </td>
                <td>
                    <ul class="unstyle">
                        <li>task for today</li>
                        <li><a href="#">task for today</a></li>
                        <li><a href="#">task for today</a></li>
                    </ul>
                </td>
                <td>
                    <ul class="unstyle">
                        <li>Dev Environment is down</li>
                    </ul>    
                </td>
            </tr>
            <tr class="success">
                <td class="first">
                    <p><strong>IntName</strong> - Integrator</p>
                   <a href="mailto:email@pentalog.fr">email@pentalog.fr</a> 
                </td>
                <td>
                    <ul class="unstyle">
                        <li>task completed yesterday</li>
                        <li>task completed yesterday</li>
                        <li><a href="#">task completed yesterday</a></li>
                    </ul>
                </td>
                <td>
                    <ul class="unstyle">
                        <li>task for today</li>
                        <li><a href="#">task for today</a></li>
                        <li><a href="#">task for today</a></li>
                    </ul>
                </td>
                <td>
                    <ul class="unstyle">
                        <li>Dev Environment is down</li>
                    </ul>
                </td>
            </tr>
            <tr class="warning">
                <td class="first">
                    <p><strong>TesterName</strong> - Tester</p>
                   <a href="mailto:email@pentalog.fr">email@pentalog.fr</a> 
                </td>
                <td>
                    <ul class="unstyle">
                        <li>task completed yesterday</li>
                        <li>task completed yesterday</li>
                        <li><a href="#">task completed yesterday</a></li>
                    </ul>
                </td>
                <td>
                    <ul class="unstyle">
                        <li>task for today</li>
                        <li><a href="#">task for today</a></li>
                        <li><a href="#">task for today</a></li>
                    </ul>
                </td>
                <td>
                    <ul class="unstyle">
                        <li>Dev Environment is down</li>
                    </ul>
                </td>
            </tr>
             <tr class="error">
                <td class="first">
                    <p><strong>SMName</strong> - ScrumMaster</p>
                   <a href="mailto:email@pentalog.fr">email@pentalog.fr</a> 
                </td>
                <td>
                    <ul class="unstyle">
                        <li>task completed yesterday</li>
                        <li>task completed yesterday</li>
                        <li><a href="#">task completed yesterday</a></li>
                    </ul>
                </td>
                <td>
                    <ul class="unstyle">
                        <li>task for today</li>
                        <li><a href="#">task for today</a></li>
                        <li><a href="#">task for today</a></li>
                    </ul>
                </td>
                <td>
                    <ul class="unstyle">
                        <li>Dev Environment is down</li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>

    <div>
        <br />
        <p>Together with the updated burndown chart:</p>
        <img src="{{ asset('bundles/mr1Mr1/img/graphic.png') }}" alt="daily report graphic">
    </div>
    <div>
        <br />
        Regards,<br />
        sender_name
    </div>
  </div>
