<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Export Mantis fixes on recette</h3>
  </div>
  <div class="modal-body">
    <article>
        <p>Export Mantis fixes on recette</p>
    </article>
  </div>
