<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">MEP Merged Project</h3>
  </div>
  <div class="modal-body">
    <article>
        <p>The Merged project to production is done after it is tested on all the dev envirements, preprod and recette. <br /> After it's exported to recette envirement and tested by the QA. <br/> If everything it's ok a publio request is done and after that the merge to production is done. If in recette some project is not ok, it will be done a rollback to dev envirement till the problem is solved. 
        </p>
        <p>
            On every new sprint, you have to make a new branch from the production envirement on your devNG envirement and work on the sprint tasks. <br /> After everything is done at the end of the sprint, you move all the stuff on the devNG and test it. After all the tests are done, 
        </p>
         <img src="{{ asset('bundles/mr1Mr1/img/release_prod.png') }}" alt="merge project">
    </article>
  </div>
