<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">MEP Merged Project</h3>
  </div>
  <div class="modal-body">
    <article>
        <img src="{{ asset('bundles/mr1Mr1/img/release_prod.png') }}" alt="merge project">
    </article>
  </div>
