<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Merge prev project on release branch</h3>
  </div>
  <div class="modal-body">
    <article>
               <img src="{{ asset('bundles/mr1Mr1/img/export_to_dev.png') }}" alt="merge project">
    </article>
  </div>
