<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Merge prev project on release branch</h3>
  </div>
  <div class="modal-body">
    <article>
        <p>The merge on release branch is made in 3 steps.</p>
        <ol>
            <li>Merge day</li>
            <li>Test day</li>
            <li>Export day</li>
        </ol>

        <p><strong>Merge day</strong> - is the day when all the branches from all the teams are merged in one release branch.</p>
        <p><strong>Test day</strong> - is the day when the from all the teams test the release branch on they're project.</p>
        <p><strong>Export day</strong> - After all the tests are ok, the export to DEV is made with that release branch.</p>
        <img src="{{ asset('bundles/mr1Mr1/img/export_to_dev.png') }}" alt="merge project">
    </article>
  </div>
