<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">One on one with Team</h3>
  </div>
  <div class="modal-body">
    <article>
         <p>The key to a good one-on-one meeting is the understanding that it is the employee’s meeting rather than the manager’s meeting. This is the free-form meeting for all the pressing issues, brilliant ideas and chronic frustrations that do not fit neatly into status reports, email and other less personal and intimate mechanisms.</p>

         <p>If you like structured agendas, then the employee should set the agenda. A good practice is to have the employee send you the agenda in advance. This will give her a chance to cancel the meeting if nothing is pressing. It also makes clear that it is her meeting and will take as much or as little time as she needs. During the meeting, since it’s the employee’s meeting, the manager should do 10% of the talking and 90% of the listening. Note that this is the opposite of most one-on-ones.</p>

         <p>While it’s not the manager’s job to set the agenda or do the talking, the manager should try to draw the key issues out of the employee. The more introverted the employee, the more important this becomes. If you manage engineers, drawing out issues will be an important skill to master.</p>

        <p>Some questions that I’ve found to be very effective in one-on-ones:</p>
        <ul>
            <li>If we could improve in any way, how would we do it?</li>
            <li>What’s the No. 1 problem with our organization? Why?</li>
            <li>What’s not fun about working here?</li>
            <li>Who is really kicking ass in the company? Who do you admire?</li>
            <li>If you were me, what changes would you make?</li>
            <li>What don’t you like about the product?</li>
            <li>What’s the biggest opportunity that we’re missing out on?</li>
            <li>What are we not doing that we should be doing?</li>
            <li>Are you happy working here?</li>
        </ul>
        <p>In the end, the most important thing is that the best ideas, the biggest problems and the most intense employee life issues make their way to the people that can deal with them. One-on-ones are a time-tested way to do that, but if you have a better one, go ahead with your bad self.</p>
    </article>
  </div>
