<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Send op com followup</h3>
  </div>
  <div class="modal-body">
    <article>
        <p>After you had the Operational Comittee meeting and after you completed the OP Com support document, you'll have to send an email to your Product Owner with the document in pdf format attached.</p>
         <p>This email will be <strong>send to</strong>: </p>
        <ul>
            <li>All product owners whose projects are in development by team (to)</li>
            <li>Research and development Director & Deputy, Delivery manager, Head of project management and to the team (cc)</li>
        </ul>
        <ul>
            <li><strong>To: </strong> <a href="mailto:product_owner1@meetic-corp.com">product_owner1@meetic-corp.com</a>, <a href="mailto:product_owner2@meetic-corp.com">product_owner2@meetic-corp.com</a></li>
            <li><strong>CC: </strong> <a href="mailto:f.chazot@meetic-corp.com">f.chazot@meetic-corp.com</a>, 
            <a href="mailto:e.dupre@meetic-corp.com">e.dupre@meetic-corp.com</a>,
            <a href="mailto:n.kalmanovitz@meetic-corp.com">n.kalmanovitz@meetic-corp.com</a>, 
            <a href="mailto:m.laurent@meetic-corp.com">m.laurent@meetic-corp.com</a>, 
            <a href="mailto:projet-meeticilius-TX@pentalog.fr@meetic-corp.com">projet-meeticilius-TX@pentalog.fr</a> 
            </li>
        </ul>

        <p><strong>Example:</strong></p>
        <p>Hello,
        <br />
        <br />Please find attached the summary of the operational committee meeting for
        MRx from DD/MM/YYYY</p>
        <br />
        <p>Thank you,<br />
        sender_name</p>
    </article>
  </div>
