<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Sprint planning Mail</h3>
  </div>
  <div class="modal-body">
    <article>
        <p>After the next sprint planning is done,  the scrum master should send an email to Product owner with a list of all user stories of the next sprint and the number of story points.</p>
        <p>This email will be <strong>send to</strong>: </p>
        <ul>
            <li>All product owners whose projects are in development by team (to)</li>
            <li>Research and development Director & Deputy, Delivery manager, Head of project management and to the team (cc)</li>
        </ul>
        <ul>
            <li><strong>To: </strong> <a href="mailto:product_owner1@meetic-corp.com">product_owner1@meetic-corp.com</a>, <a href="mailto:product_owner2@meetic-corp.com">product_owner2@meetic-corp.com</a></li>
            <li><strong>CC: </strong> <a href="mailto:f.chazot@meetic-corp.com">f.chazot@meetic-corp.com</a>, 
            <a href="mailto:e.dupre@meetic-corp.com">e.dupre@meetic-corp.com</a>,
            <a href="mailto:n.kalmanovitz@meetic-corp.com">n.kalmanovitz@meetic-corp.com</a>, 
            <a href="mailto:m.laurent@meetic-corp.com">m.laurent@meetic-corp.com</a>, 
            <a href="mailto:projet-meeticilius-TX@pentalog.fr@meetic-corp.com">projet-meeticilius-TX@pentalog.fr</a> 
            </li>
        </ul>

        <p>Email <strong>subject</strong> should contain <i>Team</i> name and <i>sprint</i> number</p>
        <ul>
                <li>example : <i>[MRx] Sprint xx planning</i></li>
        </ul>
        
    </article>

    <h4>Example: </h4>
    <p>Hello, </p>
    <p>Please find below the planning summary for Sprint XX ( DD/MM/YYYY – DD/MM/YYYY )</p>
    <table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=640
 style='width:479.75pt;margin-left:-1.15pt;border-collapse:collapse'>
     <tr style='height:30.0pt'>
        <td width=586 nowrap style='width:439.7pt;border:solid windowtext 1.0pt;
        background:#4F81BD;padding:0in 5.4pt 0in 5.4pt;height:30.0pt'>
            <p class=MsoNormal align=center style='text-align:center'><b><span
        style='color:white'>Item<o:p></o:p></span></b></p>
        </td>
        <td width=53 style='width:40.05pt;border:solid windowtext 1.0pt;border-left:
        none;background:#4F81BD;padding:0in 5.4pt 0in 5.4pt;height:30.0pt'>
            <p class=MsoNormal align=center style='text-align:center'><b><span
        style='color:white'>Story Points<o:p></o:p></span></b></p>
        </td>
     </tr>
     <tr style='height:15.0pt'>
        <td width=586 nowrap valign=bottom style='width:439.7pt;border:solid windowtext 1.0pt;
        border-top:none;background:#B8CCE4;padding:0in 5.4pt 0in 5.4pt;height:15.0pt'>
            <p class=MsoNormal><span style='color:black'>Winks capping<o:p></o:p></span></p>
        </td>
        <td width=53 nowrap valign=bottom style='width:40.05pt;border-top:none;
        border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
        background:#B8CCE4;padding:0in 5.4pt 0in 5.4pt;height:15.0pt'>
            <p class=MsoNormal align=right style='text-align:right'><span
        style='color:black'>3<o:p></o:p></span></p>
        </td>
     </tr>
     <tr style='height:15.0pt'>
        <td width=586 nowrap valign=bottom style='width:439.7pt;border:solid windowtext 1.0pt;
        border-top:none;background:#DBE5F1;padding:0in 5.4pt 0in 5.4pt;height:15.0pt'>
            <p class=MsoNormal><span style='color:black'>Test documentation<o:p></o:p></span></p>
        </td>
        <td width=53 nowrap valign=bottom style='width:40.05pt;border-top:none;
        border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
        background:#DBE5F1;padding:0in 5.4pt 0in 5.4pt;height:15.0pt'>
            <p class=MsoNormal align=right style='text-align:right'><span
        style='color:black'>2<o:p></o:p></span></p>
        </td>
     </tr>
     <tr style='height:15.0pt'>
        <td width=586 nowrap valign=bottom style='width:439.7pt;border-top:none;
        border-left:solid windowtext 1.0pt;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
        background:#B8CCE4;padding:0in 5.4pt 0in 5.4pt;height:15.0pt'>
            <p class=MsoNormal><span style='color:black'>Mantis 0042188: [BOT REGULAR] IM
        conversation incomplete: only the talks of one person appear.<o:p></o:p></span></p>
        </td>
        <td width=53 nowrap valign=bottom style='width:40.05pt;border-bottom:solid windowtext 1.0pt;
        border-right:solid windowtext 1.0pt;background:#B8CCE4;padding:0in 5.4pt 0in 5.4pt;
        height:15.0pt'>
            <p class=MsoNormal align=right style='text-align:right'><span
        style='color:black'>3<o:p></o:p></span></p>
        </td>
     </tr>
</table>
<br />
<p>Total estimated: XX story points</p>
<p>Regards, <br /.>
    senders_name </p>
  </div>
