<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Sprint retrospective</h3>
  </div>
  <div class="modal-body">
    <article>
        <p>The team retrospective occurs on the last day of the sprint, typically after the customer review meeting(sprint demo). The purpose of the team retrospective is to identify the things that the team is doing well that they should keep doing; things they should start doing in order to improve; and things that are keeping them from performing at their best that they should stop doing. The meeting is facilitated by the ScrumMaster and the product owner is typically not in the room.</p>

        <p>This is a very important meeting. Just as a car needs to get its oil changed every 3,000 miles, the team needs its oil changed regularly too. The retrospective provides just that, an oil change – drain out the goop and bring in some good stuff – or at least develop a plan on how to start removing the metaphorical sludge from the team’s system. After all, the bad habits we have developed over the years are not going to disappear with the wave of a magical wand. Teams have to continually work to reinforce good patterns of behavior and eliminate bad patterns. Skimping on this meeting will cause the team to, at best, perform at sub-optimum levels and, at worst, bring the whole process to a grinding halt.</p>
    </article>
  </div>
