<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Sprint demo</h3>
  </div>
  <div class="modal-body">
    <article>
    <p>The customer review(<strong>Sprint demo</strong>) meeting occurs on the last day of the sprint. The purpose of the meeting is for the team to show the customers and stakeholders the work they have accomplished over the sprint. The meeting is facilitated by the product owner but it is not uncommon to have the team members run the meeting. In this meeting, the customers should be reviewing the following data:</p>
    <ul>
        <li>The work the team committed to delivering</li>
        <li>The work they completed</li>
        <li>Key decisions that were made during the iteration/sprint (this may include technical, market-driven, requirements, etc, and can be decisions made by the team, the product owner, the customers, or anyone else)</li></li>
        <li>Project metrics (code coverage, etc)</li>
        <li>Demo of the work itself</li>
        <li>Priority review (for the next iteration/sprint)</li>
    </ul>
<p>Most agile teams will ask customers to accept the work right then and there; after all, it is potentially shippable at this point. Some customers, however, want time to use the application before pushing it out, so some teams opt to give their customers up to a week to formally accept the work. It is very important to get acceptance – don’t skimp on this.</p>

<p>The duration of the customer review meeting varies depending on sprint length. For a one-week sprint, the meeting should last about thirty minutes; for a two-week sprint, an hour. Teams running four-week sprints should allow two hours for this meeting.</p>
    </article>
  </div>
