<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">SLR  to PM / 2</h3>
  </div>
  <div class="modal-body">
    <article>
        <p>SLR  to PM / 2</p>
    </article>
  </div>
