<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">stand up jkvabjk caksn csa </h3>
  </div>
  <div class="modal-body">
    <p>hdjskabcs ajknfsa csahncals</p>
  </div>
