<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">STO/2</h3>
  </div>
  <div class="modal-body">
    <article>
       <p><strong>Quality Dashboard</strong> is an overview of progress occurring in the test, development, and build areas as they relate to the quality of the software under development. Quality Dashboard is a simplified quality management reporting and analysis where all the essential parameters are reported on a single page with the latest data. It helps in continuous tracking of all quality management metrics, info, analysis, trends on one-page and achieving outstanding customer satisfaction. The one-page quality management dashboard report gives the right focus and direction for actions.</p>

    <p>This document should be updated by scrum masters and should be ready after 2 big releases in production.</p>
    </article>
  </div>
