<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Test cases</h3>
  </div>
  <div class="modal-body">
    <article>
        <p><strong>Test cases document</strong> – contains all test cases for a sprint. </p>

        <p>A test case is a set of input values, execution preconditions, expected results and execution post conditions, developed for a particular objective or test condition, such as to exercise a particular program path or to verify compliance with a specific requirement.</p>

        <p>This document should be created by testers and should be sent to the client (Meetic) in the second week from the sprint.</p>
    </article>
  </div>
