<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Test report doc</h3>
  </div>
  <div class="modal-body">
    <article>
        <p>Test Report or the test summary report is a document which contains summary of test activities and final test results. This report is given to the client for his understanding purpose and is a overall view of Testing Process from start to end.</p>
        <p>It should contain analysis of the test coverage and unresolved defects against the product risks and should measure coverage against the requirements. The report also records what testing was done and how long it took, in order to improve any future test planning. Other major elements that should be included are the test strategy, test objectives and a overall result of test effort.</p>
        <p>This is a final document that is used to indicate whether the product under test is fit for purpose according to whether or not it has met acceptance criteria defined by project stakeholders. </p>
    </article>
  </div>
