<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Testers meeting</h3>
  </div>
  <div class="modal-body">
    <article>
        <p><strong>Testing Meeting</strong> – the scope of this meeting is to align the testing team with the Meetic requirements. After each meeting is done a Customer Follow-up document that contains the points discussed. All testers are invited to this meeting where they can raise unclear aspects that need to be clarified</p>
    </article>
  </div>
