<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Test runs doc</h3>
  </div>
  <div class="modal-body">
    <article>
        <p><strong>Test Runs document</strong> – it is an overview of testing activities during the sprint. The tester should run the test cases in the determined order.</p>

<p>The test implementation and execution activity involves running tests, and this will include where necessary any set-up/tear-down activities for the testing. It will also involve checking the test environment before testing begins. Test execution is the most visible part of testing.</p>
</p>
<p>This document should be ready and the end of the sprint and should be sent to the client in the first three days from the next sprint.</p>
    </article>
  </div>
