<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Test plan doc</h3>
  </div>
  <div class="modal-body">
    <article>
        <p>A test plan can be defined as a document that describes the scope, approach, resources, and schedule of intended testing activities. It identifies test items, the features to be tested, the testing tasks and any risks requiring contingency planning. It also discribes to what quality level the test will be performed.</p>
        <p>There are three major elements that should be included in the test plan: Test Coverage, Test Methods and Test Responsibilities. These, are used in a formal test strategy, which will ensure that the product meets its design specifications and other requirements.</p>
        <p>In other words the test plan typically contains a detailed understanding of what the workflow will be during the sprint.</p>
    </article>
  </div>
