<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Test report & runs</h3>
  </div>
  <div class="modal-body">
    <article>
        <p>This email will be <strong>send to</strong>: </p>
        <ul>
            <li>All product owners whose projects are in development by team, to QA team  (to)</li>
            <li>Research and development Director & Deputy, Delivery manager, Scrum Master from your team(cc)</li>
        </ul>
        <ul>
            <li><strong>To: </strong> <a href="mailto:product_owner1@meetic-corp.com">product_owner1@meetic-corp.com</a>, <a href="mailto:qa@meetic-corp.com">qa@meetic-corp.com</a>, <a href="mailto:ac.alves@meetic-corp.com">ac.alves@meetic-corp.com</a></li>
            <li><strong>CC: </strong> 
            <a href="mailto:n.kalmanovitz@meetic-corp.com">n.kalmanovitz@meetic-corp.com</a>, 
            <a href="mailto:product_owner2@meetic-corp.com">product_owner2@meetic-corp.com</a>
            <a href="mailto:scrummaster@meetic-corp.com">scrummaster@meetic-corp.com</a>
            </li>
        </ul>
        
        <p>Email <strong>subject</strong> should contain <i>Team</i> from Romania,<i>"Test sprints and test runs"</i> and <i>sprint</i> number</p>

        <strong>EXAMPLE: </strong>
        <p>Hi all,</p>
        <br />
        <p>Please find attached  the Test Report and Test Runs for the Sprint XX - Meetic #ROx. Also, these documents are attached in Jira  GDO-3904</p>
        <br />
        <p>Thank You,<br />
        sender_name</p>
   </article>
  </div>
